@model IEnumerable<OnlineSchoolSystem.Domain.Models.Lesson>

@{
    ViewData["Title"] = "Lessons";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Description</td>
            <td>Actions</td>
        </tr>
    </thead>
    @foreach (var lesson in Model)
    {
        <tr>
            <td>@lesson.Id</td>
            <td>@lesson.Title</td>
            <td>@lesson.Description</td>
            <td></td>
        </tr>
    }
</table>